$ultra: 3840px;
$ultra-up: 3839px;
$qhd: 2560px;
$qhd-up: 2559px;
$wide: 1920px;
$wide-up: 1919px;
$hd: 1600px;
$hd-up: 1599px;
$laptop: 1200px;
$laptop-up: 1199px;
$web: 1025px;
$web-up: 1024px;
$tablet: 768px;
$tablet-up: 767px;
$mobile: 500px;
$mobile-up: 499px;
