$green-malachite: #00ca4e;
$green-limeade: #568c06;
$green-christi: #6fb30b;
$green-limeade: #568c06;
$gold-sand: #e5bd83;
$yellow-orange: #ffbd44;
$harvest-gold: #DDB974;
$wheat: #f5deb3;
$burning-sand: #D88E73;
$persimmon-hex: #ff605c;
$blue-malibu: #55D6FF;
$blue-azure-radiance: #008EF6;

$white-solid: #fff;
$wild-sand: #f5f5f5;

$black-solid: #000;
$shark: #252526;
$cod-gray: #1e1e1e;
$mine-shaft: #2D2D2D;
$mine-shaft-darker: #333333;
$gray-mine-shaft: #2f2f2f;
$gray-mine-shaft-faded: #373636;
$gray-boulder: #7A7A7A;
$tundora: #444444;
$emperor: #555;
$gray-alto: #d3d3d3;

// INPUT OVERLAY
$silver-sand: rgba( 182, 190, 190, 0.70 );
$jacksons-purple: rgba( 31, 38, 135, 0.37 );

// CAROUSEL BUTTON
$suva-gray: rgba( 132, 132, 132, 0.1 );
$opaque-white: rgba( 255, 255, 255, 0.18 );
$scorpion: rgba(91, 88, 88, 0.45);
$black-opaque: rgba(0, 0, 0, 0.1);
