@import './breakpoints.scss';

.container {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;

  &__title,
  &__title--port,
  &__title--padded {
    @media screen and (max-width: $web-up) {
      font-size: 22px;
    }
  }

  &__title--padded {
    @media screen and (min-width: $hd) {
      width: 59%;
    }

    @media screen and (max-width: $hd-up) {
      width: 57%;
    }

    @media screen and (max-width: $web-up) {
      width: unset;
    }
  }

  &__title--port {
    margin-bottom: 85px;

    @media screen and (max-width: $web-up) {
      margin-bottom: 50px;
    }

    @media screen and (max-width: $tablet-up) {
      margin-bottom: 35px;
    }
  }

  &__subtitle {
    @media screen and (max-width: $web-up) {
      font-size: 16px;
      font-weight: bold;
    }
  }

  &__text,
  &__text--center,
  &__text--padded {
    width: 85%;

    @media screen and (min-width: web) {
      line-height: 36px;
      font-size: 20px;
    }

    @media screen and (max-width: $web-up) {
      font-size: 16px;
      line-height: 30px;
    }
  }

  &__text {
    text-align: left;
  }

  &__text--center {
    @media screen and (max-width: $web-up) {
      width: 100%;
      text-align: center;
    }
  }

  &__text--padded {
    @media screen and (min-width: $web){
      padding-left: 14%;
    }

    @media screen and (min-width: $hd-up) {
      padding-left: 13%
    }

    @media screen and (max-width: $web-up){
      text-align: left;
    }
  }
}
