.header {
  display: flex;
  background-color: var(--var-darkest);
  color: var(--var-white);

  // @media screen and (max-width: $web-up) {
  //   height: 100vh;
  //   flex-direction: column;
  //   justify-content: center;
  // }

  &__title,
  &__frame {
    display: flex;
    justify-content: flex-end;
  }

  &__title {
    width: 80%;
    padding-bottom: 50px;

    // @media screen and (max-width: $web-up) {
    //   width: 100%;
    // }
  }

  &__title {
    flex-direction: column;
    align-items: flex-start;

    // @media screen and (max-width: $web-up) {
    //   align-items: center;
    //   font-size: 22px;
    // }
  }

  &__frame {
    align-items: center;
    max-width: 100%;
    padding: 50px;
    width: 20%;
    margin-left: 50px;

    // @media screen and (max-width: $web-up) {
    //   width: 100%;
    //   margin: unset;
    //   justify-content: center;
    // }
  }

  &__image {
    min-width: 200px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid var(--var-pic-border);
    position: relative;
    top: 150px;

    // @media screen and (max-width: $web-up) {
    //   min-width: 150px;
    //   width: 150px;
    //   height: 150px;
    //   border: 5px solid var(--var-pic-border);
    //   position: unset;
    // }
  }

  &__name {
    // @media screen and (max-width: $web-up) {
    //   font-size: 24px;
    // }
  }

  &__subtitle {
    color: var(--var-head-subtitle);

    // @media screen and (max-width: $web-up) {
    //   font-size: 18px;
    // }
  }

  &__holder {
    display: none;

    // @media screen and (max-width: $tablet-up) {
    //   display: inline;
    //   position: absolute;
    //   top: 1em;
    //   right: 7.5em;
    // }
  }

  &__icon {
    // @media screen and (max-width: $tablet-up) {
    //   max-width: 25px;
    //   max-height: 25px;
    //   fill: $blue-malibu;
    //   filter: brightness(.7);
    // }
  }
}
